<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My page</title>
    <!--  static 폴더 안에 있는 파일은 / 사용하여 링크 가능  -->
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<!-- nav bar html -->
<div th:replace="~{ nav.html::navbar }"></div>

<h4>My page</h4>

<div sec:authentication="principal"></div>
<div sec:authentication="principal.username"></div>
<div sec.authorize="hasAuthority('일반유저')">
    <h5>이 유저는 일반유저 권한임</h5>
</div>

<a href="/order/myordered" style="border: 1px solid blue; padding: 6px;">주문내역 확인</a>

</body>
</html>