<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write</title>
    <!--  static 폴더 안에 있는 파일은 / 사용하여 링크 가능  -->
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<!-- nav bar html -->
<div th:replace="~{ nav.html::navbar }"></div>

<!-- DB input form -->
<form th:action="@{/add}" method="POST">
    <input type="hidden" name="user" th:value="${#authentication.name}">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="price" placeholder="price">
    <input type="file" onchange="getURL(this)">
    <input type="hidden" name="imgURL" id="fileName">
    <img src="" width="100px" style="display: block;">
    <button type="submit" style="margin-top: 2rem;">전송</button>
</form>




<script>
    async function getURL(e) {
        const name = encodeURIComponent(e.files[0].name)
        let result = await fetch('/presigned-url?filename=' + name)
        result = await result.text()

        let result2 = await fetch(result, {
            method : 'PUT',
            body : e.files[0],
        })

        document.querySelector('#fileName').value = result2.url.split("?")[0]
        //console.log(result2)
        //console.log(result2.url.split("?")[0])

        if (result2.ok){
            document.querySelector('img').src = result2.url.split("?")[0]
        }
    }

</script>

</body>
</html>