<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write</title>
    <!--  static 폴더 안에 있는 파일은 / 사용하여 링크 가능  -->
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<!-- nav bar html -->
<div th:replace="~{ nav.html::navbar }"></div>

<!-- DB input form -->
<form action="/add" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="price" placeholder="price">
    <button type="submit">전송</button>
</form>

</body>
</html>